<template>
    <div>
        <h1>Confirm Sign Up</h1>
        <div>
            <input v-model="username" name="username" placeholder="Username" autofocus />
        </div>
        <div>
            <input v-model="code" name="code" placeholder="Code" />
        </div>
        <div>
            <button v-on:click="confirm" :disabled="!username || !code">Confirm</button>
            <button v-on:click="resend">Resend</button>
        </div>
        <div>
      <span>
        <a v-on:click="signIn">Back to Sign In</a>
      </span>
            &nbsp;
        </div>
        <div v-if="error">
            {{ error }}
        </div>
    </div>
</template>

<script lang='ts'>
import { Auth, Logger } from 'aws-amplify'
import AmplifyStore from '../../AmplifyStore'
import Vue from 'vue'
//import AmplifyTheme from '../../AmplifyTheme'
const logger = new Logger('ConfirmSignUpComp');
export default Vue.extend({
    name: 'SignIn',
    data () {
        return {
            username: '',
            code: '',
            error: '',
            //theme: AmplifyTheme
        }
    },
    computed: {
        //user() { return AmplifyStore.state.amplify.user }
      user() { return AmplifyStore.state.user }
    },
    methods: {
        confirm: function(event: any) {
            Auth.confirmSignUp(this.username, this.code)
                .then(() => this.$router.push('/'))
        .catch(err => this.setError(err));
        },
        resend: function() {
            Auth.resendSignUp(this.username)
                .then(() => logger.debug('code resent'))
        .catch(err => this.setError(err));
        },
        signIn: function() {
            this.$router.push('/auth/signIn');
        },
        setError: function(err: any) {
            this.error = err.message || err;
        }
    }
})
</script>
