<template>
    <div>
        <h1>Forgot Password</h1>
        <div>
            <input v-model="username" placeholder="Username" autofocus />
        </div>
        <div>
            <input v-model="code" placeholder="Code" />
        </div>
        <div>
            <input v-model="password" type="password" placeholder="Password" />
        </div>
        <div>
            <button v-on:click="send" :disabled="!username">Send Code</button>
            <button v-on:click="submit" :disabled="!username || !code">Submit Code</button>
        </div>
        <div>
      <span>
        <a v-on:click="signIn">Back to Sign In</a>
      </span>
            &nbsp;
        </div>
        <div v-if="error">
            {{ error }}
        </div>
    </div>
</template>

<script lang='ts'>
import { Auth, Logger } from 'aws-amplify'
import AmplifyStore from '../../AmplifyStore'
import Vue from 'vue'
// import AmplifyTheme from '../../AmplifyTheme'
const logger = new Logger('ForgotPasswordComp');
export default Vue.extend({
  name: 'ForgotPassword',
  data () {
    return {
      username: '',
      code: '',
      password: '',
      error: '',
      // theme: AmplifyTheme
    }
  },
  computed: {
    // user() { return AmplifyStore.state.amplify.user }
    user() { return AmplifyStore.state.user }
  },
  methods: {
    send: function() {
      Auth.forgotPassword(this.username)
        .then(() => logger.debug('code resent'))
        .catch(err => this.setError(err));
    },
    submit: function() {
      Auth.forgotPasswordSubmit(this.username, this.code, this.password)
        .then(() => this.$router.push('/'))
        .catch(err => this.setError(err));
    },
    signIn: function() {
      this.$router.push('/auth/signIn');
    },
    setError: function(err: any) {
      this.error = err.message || err;
    }
  }
})
</script>