<template>
    <div class="auth-greetings">
        <div>
            <span>{{greeting}}</span>
        </div>
        <div v-if="greeting">
            <button v-on:click="signOut">Sign Out</button>
        </div>
    </div>
</template>

<script lang='ts'>
import { Auth, Logger } from 'aws-amplify'
import AmplifyStore from '../../AmplifyStore'
import Vue from 'vue'
const logger = new Logger('SignOutComp');
export default Vue.extend({
    name: 'Greetings',
    data () {
        return {
            greeting: 'Hi'
        }
    },
    computed: {
        user() { return AmplifyStore.state.user }
    },
    methods: {
        signOut: function(event: any) {
            Auth.signOut()
                .then(data => {
                logger.debug('sign out success', data);
            AmplifyStore.commit('setUser', null);
            this.$router.push('/auth/signIn');
        })
        .catch(err => logger.error('sign out error', err))
        }
    }
})
</script>