<template>
  <div>
    <h1 v-if="!confirmView">Sign In</h1>
    <h1 v-if="confirmView">Confirm Sign In</h1>
    <div v-if="!confirmView">
      <div>
        <input v-model="username" placeholder="Username" autofocus v-on:keyup.enter="signIn" />
      </div>
      <div>
        <input v-model="password" type="password" placeholder="Password" v-on:keyup.enter="signIn" />
      </div>
      <div>
        <button v-on:click="signIn" :disabled="!username || !password">Sign In</button>
      </div>
      </div>
      <div v-if="confirmView">
        <div>
          <input v-model="code" placeholder="Code" v-on:keyup.enter="confirm" />
        </div>
      <div>
       <button v-on:click="confirm" :disabled="!code">Confirm</button>
      </div>
    </div>
    <div>
      <span>
        <a v-on:click="forgot">Forgot Password</a>
      </span>
      <span>
        <a v-on:click="signUp">Sign Up</a>
      </span>
    </div>
      <div v-if="error">
        {{ error }}
      </div>
  </div>
</template>

<script lang='ts'>
import Vue from 'vue'
import { Auth, Logger, JS } from 'aws-amplify'
import AmplifyStore from '../../AmplifyStore'
//import AmplifyTheme from '../../AmplifyTheme'
const logger = new Logger('SignInComp');
export default Vue.extend({
  name: 'SignIn',
  data () {
    return {
      username: '',
      password: '',
      user: null,
      confirmView: false,
      code: '',
      error: '',
      //theme: AmplifyTheme
    }
  },
  methods: {
    signIn: function(event: any) {
      const that = this;
      Auth.signIn(this.username, this.password).then(user => {
        logger.debug('sign in success', user);
        AmplifyStore.commit('setUser', user);
        return user
      }).then(user => {
        that.user = user;
        if (user.challengeName === 'SMS_MFA') {
        that.confirmView = true;
        return
      }
        this.checkUser()
      }).catch(err => this.setError(err))
    },
    checkUser: function() {
      const user = this.user;
      if (!user) { return }
      Auth.verifiedContact(user).then(data => {
        logger.debug('verify result', data);
        AmplifyStore.commit('setUserVerification', data);
        if (!JS.isEmpty(data.verified)) {
          this.$router.push('/');
        } else {
        this.$router.push('/auth/verifyContact');
        }
      });
    },
    confirm: function() {
      Auth.confirmSignIn(this.user, this.code, null).then(() => {
        this.$router.push('/');
      }).catch(err => this.setError(err));
    },
    forgot: function() {
      this.$router.push('/auth/forgotPassword');
    },
    signUp: function() {
      this.$router.push('/auth/signUp');
    },
    setError: function(err: any) {
      this.error = err.message || err;
    }
  }
})
</script>
