<template>
    <div>
        <h1>Sign Up</h1>
        <div>
            <input v-model="username" placeholder="Username" autofocus />
        </div>
        <div>
            <input v-model="password" type="password" placeholder="Password" />
        </div>
        <div>
            <input v-model="email" placeholder="Email" />
        </div>
        <div>
            <button v-on:click="signUp" :disabled="!username || !password">Sign Up</button>
        </div>
        <div>
            <div>
                <a v-on:click="signIn">Back to Sign In</a>
            </div>
            <div>
                <a v-on:click="confirm">Confirm a Code</a>
            </div>
        </div>
    </div>
</template>

<script lang='ts'>
import { Auth, Logger } from 'aws-amplify'
import AmplifyStore from '../../AmplifyStore'
import Vue from 'vue'
// import AmplifyTheme from '../../AmplifyTheme'
const logger = new Logger('SignUpComp');
export default Vue.extend({
  name: 'SignUp',
  data () {
    return {
      username: '',
      password: '',
      email: '',
      phone_number: '',
      preferred_username: 'preferred_username'
      // theme: AmplifyTheme
    }
  },
  computed: {
    user() { return AmplifyStore.state.user }
  },
  methods: {
    signUp: function(event: any) {
      Auth.signUp({
        'username': this.username,
        'password': this.password,
        attributes: {
          'email': this.email,
        },
        validationData: []
      }).then(data => {
        logger.debug('sign up success', data);
        this.$router.push('/auth/confirmSignUp');
      }).catch(err => logger.error('sign up error', err))
    },
    signIn: function() {
      this.$router.push('/auth/signIn');
    },
    confirm: function() {
      this.$router.push('/auth/confirmSignUp');
    }
  }
})
</script>