<template>
    <div>
        <div>Are you sure?</div>
        <div>
            <button v-on:click="signOut">Sign Out</button>
        </div>
        <div v-if="error">
            {{ error }}
        </div>
    </div>
</template>

<script lang='ts'>
import { Auth, Logger, JS } from 'aws-amplify'
import Vue from 'vue'
//import AmplifyTheme from '../../AmplifyTheme'
const logger = new Logger('SignOutComp');
export default Vue.extend({
  name: 'SignOut',
  data () {
    return {
     error: '',
      // theme: AmplifyTheme
    }
  },
  methods: {
    signOut: function(event: any) {
      Auth.signOut()
        .then(() => {
          logger.debug('sign out success');
          this.$router.push('/');
        })
        .catch(err => this.setError(err))
    },
    setError: function(err: any) {
      this.error = err.message || err;
    }
  }
})
</script>
