<template>
    <div>
        <h1 v-if="!submitView">Verify Contact</h1>
        <h1 v-if="submitView">Submit Code</h1>
        <div v-if="!submitView">
            <div v-if="this.unverified.email">
                <input type="radio" v-on:click="verifyEmail" />
                {{this.unverified.email}}
            </div>
            <div v-if="this.unverified.phone_number">
                <input type="radio"  v-on:click="verifyPhoneNumber" />
                {{this.unverified.phone_number}}
            </div>
            <div>
                <button :style="theme.action" v-on:click="send">Send Code</button>
            </div>
        </div>
        <div v-if="submitView">
            <div>
                <input v-model="code" placeholder="Code" />
            </div>
            <div>
                <button v-on:click="submit" :disabled="!code">Submit</button>
            </div>
        </div>
        <div>
            &nbsp;
            <span>
        <a v-on:click="skip">Skip</a>
      </span>
        </div>
        <div v-if="error">
            {{ error }}
        </div>
    </div>
</template>

<script lang='ts'>
import { Auth, Logger, JS } from 'aws-amplify'
import AmplifyStore from '../../AmplifyStore'
import Vue from 'vue'
// import AmplifyTheme from '../../AmplifyTheme'
const logger = new Logger('SignInComp');
export default Vue.extend({
    name: 'VerifyContact',
    data () {
        return {
            verifyAttr: '',
            submitView: false,
            code: '',
            error: '',
            // theme: AmplifyTheme
        }
    },
    computed: {
        unverified() {
            const verification: any = AmplifyStore.state.userVerification
            return verification && verification.unverified
                ? verification.unverified
                : []
        }
    },
    created: function() {
        const verification = AmplifyStore.state.userVerification
        if (!verification) {
            this.$router.push('/')
        }
    },
    methods: {
        verifyEmail: function() { this.verifyAttr = 'email' },
        verifyPhoneNumber: function() { this.verifyAttr = 'phone_number' },
        send: function() {
            Auth.verifyCurrentUserAttribute(this.verifyAttr)
                .then(data => {
                logger.debug(data)
            this.submitView = true
        })
        .catch(err => this.setError(err))
        },
        submit: function() {
            Auth.verifyCurrentUserAttributeSubmit(this.verifyAttr, this.code)
                .then(() => {
                this.$router.push('/');
        })
        .catch(err => this.setError(err));
        },
        skip: function() {
            this.$router.push('/');
        },
        setError: function(err: any) {
            this.error = err.message || err;
        }
    }
})
</script>
