<template>
  <div>
    <h1 class="title">{{ item.title }}</h1>
    <h2 class="subtitle">{{ item.description }}</h2>
    {{ user }}
    <br />
    <textarea>code here</textarea>
  </div>
</template>

<script lang='ts'>
import Vue from 'vue'
import Amplify, { API } from 'aws-amplify'
import { aws_exports } from '../aws-exports'
Amplify.configure(aws_exports);
export default Vue.extend({
  data() {
    return {
      item: {},
      posts: 'first'
    };
  },
  computed: {
    user(): string {return this.$route.params.id.split('-')[0]},
    createdAt(): string {return this.$route.params.id.split('-')[1]}
  },
  async created() {
    try {
      const res = <any>await API.get('service', `/site/get/${this.user}/${this.createdAt}`, {});
      console.log(JSON.stringify(res));
      this.item = res.item;
    } catch(e) {
      console.error(e);
      this.posts = 'error';
    }
  }
});
</script>
