<template><div>
  <textarea v-model="posts"></textarea>
  <a class="button" v-on:click="signOut" v-if="user">SignOut</a>
  <a class="button" v-on:click="create" v-if="user">作成</a>
  <div class="box" v-for="item in items">
    <article class="content">
      <p>
        <strong>
          <router-link v-bind:to="{ name: 'Detail', params: {id: `${item.owner}-${item.createdAt}`} }">
            {{ item.title }}
          </router-link>
        </strong>
        <small>by
          <router-link v-bind:to="{ name: 'User', params: {user: `${item.owner}`} }">
            {{ item.owner }}
          </router-link>
        </small> <small>31m</small>
        <span class="icon is-medium">
          <i class="fas fa-key"></i>
        </span>
        <br>
          {{ item.description }}
      </p>
    </article>
  </div>
</div></template>

<script lang="ts">
import Vue from 'vue'
import Amplify, { API } from 'aws-amplify'
import { AmplifyStore } from '../amplify'
import { aws_exports } from '../aws-exports'

Amplify.configure(aws_exports);
export default Vue.extend({
  data() {
    return {
      items: [],
      posts: 'first'
    };
  },
  methods: {
     create: async function(): Promise<void> {
      console.log(this.user);
      try {
        const params = {
          headers: {},
          body: {
            owner: (<any>this.user).username,
            title: 'title!!',
            description: 'des!',
          }
        };
        <any>await API.post('service', '/site', params).then(() => {
          this.$router.push('/')
        })
      } catch(e) {
        console.error(e)
      }
      alert((<any>this.user).username)
    },
    signOut: function (): void {
      this.$router.push('/auth/signOut')
    },
  },
  computed: {
    user() { return AmplifyStore.state.user }
  },
  async created() {
    try {
      const res = <any>await API.get('service', '/site/list', {});
      console.log('respond');
      console.log(JSON.stringify(res));
      this.items = res.body.items;
    } catch(e) {
      console.error(e);
      this.posts = 'error';
    }
  }
});
</script>
