<template>
  <div>
    <h1 class="title">{{ $route.params.user }}</h1>
    <div class="box" v-for="item in items">
      <article class="content">
        <p>
          <strong>
            <router-link v-bind:to="{ name: 'Detail', params: {id: `${item.owner}-${item.createdAt}`} }">
              {{ item.title }}
            </router-link>
          </strong>
          <small>by {{ item.owner }}</small> <small>31m</small>
          <span class="icon is-medium">
            <i class="fas fa-key"></i>
          </span>
          <br>
          {{ item.description }}
        </p>
      </article>
    </div>
  </div>
</template>

<script lang='ts'>
import Vue from 'vue'
import Amplify, { API } from 'aws-amplify'
import { aws_exports } from '../aws-exports'
Amplify.configure(aws_exports);
export default Vue.extend({
  data() {
    return {
      items: [],
      posts: 'first'
    };
  },
  async created() {
    try {
      const res = <any>await API.get('service', `/site/user/${this.$route.params.user}`, {});
      console.log(JSON.stringify(res));
      this.items = res.items;
    } catch(e) {
      console.error(e);
      this.posts = 'error';
    }
  }
});
</script>
